@charset "utf-8";

.container {
  max-width: 1260px;
  margin: 0 auto;
}

/* header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header .container .mainLogo {
  width: 160px;
  height: 17px;
  background: url(../img/rasp_logo.svg) no-repeat 0 0 / 100%;
} 

.header .container .mainLogo a {
  width: 100%;
  height: 100%;
}

.header .container ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.header .container ul li {
  display: flex;
  align-items: center;
  height: 100%;
}

.header .container ul .mainMenu {
  position: relative;
}

.header .container ul .mainMenu:hover .sol-subMenu{
  display: block;
}

.header .container ul .mainMenu a {
  position: relative;
  color: #121212;
  letter-spacing: -0.05em;
  padding-right: 24px;
  font-size: 16px;
  font-weight: 500;
}

.header .container ul .mainMenu a::before {
  position: absolute;
  top: -5px;
  right: 15px;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2AC9A4;
  border-radius: 20px;
}

.header .container ul .mainMenu a::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 12px;
  height: 7px;
  background: url(../img/menu_down_btn.png) no-repeat;
}

.header .container ul .mainMenu div.sol-subMenu {
  position: absolute;
  top: 60px;
  left: -58px;
  background: #fff;
  width: 198px;
  border-radius: 6px;
  border: 1px solid #CBDFFF;
  box-sizing: border-box;
  padding: 5px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .2);
  display: none;
}

.header .container ul .mainMenu div.sol-subMenu a {
  display: flex;
  flex-direction: column;
  padding: 8px 10px 6px 10px;
}

.header .container ul .mainMenu div.sol-subMenu a::before,
.header .container ul .mainMenu div.sol-subMenu a::after {
  display: none;
}

.header .container ul .mainMenu div.sol-subMenu a span.type1 {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #3E80EB;
  line-height: 22px;
}

.header .container ul .mainMenu div.sol-subMenu a span.type1.new::after {
  content: "NEW";
  background: #2AC9A4;
  border-radius: 100px;
  color: #fff;
  padding: 1px 7px 1px 7px;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  margin-left: 5px;
}

.header .container ul .mainMenu div.sol-subMenu a span.type2 {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  line-height: 22px;
}



.header .container ul .subMenu {
  margin-right: 2px;
}
.header .container ul .subMenu a {
  font-size: 16px;
  font-weight: 500;
  color: #121212;
  letter-spacing: -0.05em;
  width: 120px;
  text-align: center;
}

.header .container ul .subMenu a.t_blue {
  position: relative;
  color: #3F80EA;
}

.header .container ul .subMenu a:hover {
  font-weight: bold;
}

.header .container ul .subMenu a.t_blue::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #E1E1E1;
}

.header .container ul .inquiryLog a {
  padding: 0 15px;
  height: 35px;
  line-height: 33px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}

.header .container ul .inquiryLog a.inquiry {
  width: 86px;
  color: #fff;
  background-image: linear-gradient(to right, #3F80EA, #2AC9A4), linear-gradient(to right, #3F80EA, #2AC9A4);
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0 6px;
  line-height: 35px;
}

.header .container ul .inquiryLog a.inquiry:hover {
  background: #2C73E5;
}

.header .container ul .inquiryLog a.log {
  border: 1px solid #3F80EA;
  color: #3F80EA;
  letter-spacing: -0.05em;
  margin-left: 7.5px;
} 
.header .container ul .inquiryLog a.log:hover {
  background: #DEECFF;
}

/* solutionWrap */

.solutionWrap {
  padding-top: 171px;
  background: linear-gradient(#fff, #DEECFF);
}

.solutionWrap .container .sol-aiWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutionWrap .container .sol-aiWrap p.ai-tit {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #121212;
  line-height: 76px;
}

.solutionWrap .container .sol-aiWrap p.ai-tit span {
  color: #3F80EA;
}
.solutionWrap .container .sol-aiWrap p.ai-txt {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #333333;
  margin-top: 20px;
  text-align: center;
}

.solutionWrap .container .sol-aiWrap button.btn-pakage {
  position: relative;
  max-width: 532px;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.05em;
  background-image: linear-gradient(to right, #3F80EA, #2AC9A4);
  border: 0;
  text-align: left;
  padding: 0 40px;
  border-radius: 6px;
  margin-top: 45px;
  z-index: 1;
}

.solutionWrap .container .sol-aiWrap button.btn-pakage::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #2C73E5;
  border-radius: 6px;
  z-index: -1;
  transition: all 0.3s ease;
}

.solutionWrap .container .sol-aiWrap button.btn-pakage:hover::before {
  width: 100%;
  left: 0;
}


.solutionWrap .container .sol-aiWrap button.btn-pakage::after {
  position: absolute;
  top: 50%;
  right: 7.518%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow.svg) no-repeat;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry button {
  position: relative;
  width: 260px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.075em;
  border: 0;
  transition: all .8s ease;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry button:hover span {
  margin-left: -115px;
  transition: all .8s;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry button:hover::after {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow_blue.svg) no-repeat;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry button.exprn {
  border: 1px solid #3E80EB;
  background: #fff;
  color: #3E80EB;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry button.exprn:hover {
  background: #DEECFF;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry button.inquiry {
  border: 1px solid #3F80EA;
  background: #3F80EA;
  color: #fff;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry button.inquiry:hover {
  border: 1px solid #1E63D2;
  background: #1E63D2;
}

.solutionWrap .container .sol-aiWrap .exprnInquiry button.inquiry:hover::after {
  background: url(../img/solution_btn_arrow.svg) no-repeat;
}

.solutionWrap .container .sol-menuWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  padding-bottom: 110px;
}

.solutionWrap .container .sol-menuWrap p.menuWrap-tit {
  font-size: 46px;
  font-weight: bold;
  line-height: 61px;
  color: #121212;
}

.solutionWrap .container .sol-menuWrap p.menuWrap-tit span {
  color: #3F80EA
}

.solutionWrap .container .sol-menuWrap p.menuWrap-txt {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding-left: 22px;
  margin-top: 20px;
}

.solutionWrap .container .sol-menuWrap p.menuWrap-txt::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  display: block;
  width: 15px;
  height: 16px;
  background: url(../img/solution_arrow_down.svg) no-repeat;
}

.solutionWrap .container .sol-menuWrap .menu-list {
  position: relative;
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  margin-top: 30px;
  z-index: 1;
}

.solutionWrap .container .sol-menuWrap .menu-list a {
  position: relative;
  width: calc((100% - 40px) / 3);
  height: 220px;
  border: 1px solid #C9DEFF;
  border-radius: 12px;
  padding: 30px 28px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 1px rgba(63, 128, 234, .2);
  border-width: 2px;
  background-color: #F8FBFF;
}

.solutionWrap .container .sol-menuWrap .menu-list a:hover {
  border: 2px solid #3F80EA;
}

.solutionWrap .container .sol-menuWrap .menu-list a::after {
  position: absolute;
  bottom: 30px;
  right: 26px;
  content: "";
  display: block;
  width: 90px;
  height: 90px;
}

.solutionWrap .container .sol-menuWrap .menu-list a.AC:after {
  background: url(../img/solTab_bg_ats.svg) no-repeat center;
}

.solutionWrap .container .sol-menuWrap .menu-list a.assess::after {
  background: url(../img/solTab_bg_ass.svg) no-repeat center;
} 

.solutionWrap .container .sol-menuWrap .menu-list a.interview::after {
  background: url(../img/solTab_bg_view.svg) no-repeat center;
} 

.solutionWrap .container .sol-menuWrap .menu-list a.proctor::after {
  background: url(../img/solTab_bg_proct.svg) no-repeat center;
} 

.solutionWrap .container .sol-menuWrap .menu-list a.RC::after {
  background: url(../img/solTab_bg_check.svg) no-repeat center;
} 

.solutionWrap .container .sol-menuWrap .menu-list a .menu-tit {
  font-size: 24px;
  font-weight: 600;
  color: #3F80EA;
}

.solutionWrap .container .sol-menuWrap .menu-list a .menu-txt {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-top: 8px;
}

.solutionWrap .container .sol-menuWrap .menu-list a .plus {
  position: absolute;
  bottom: 30px;
  left: 28px;
  width: 36px;
  height: 36px;
  background: url(../img/move_right_arrow.svg) no-repeat center;
  border: 1px solid #3F80EA;
  border-radius: 25px;
}

.solutionWrap .container .sol-menuWrap .menu-list a:hover .plus {
  background: #2C73E5 url(../img/add_icon.svg) no-repeat center;
  border: 1px solid #2C73E5;
}

.solutionWrap .container .sol-menuWrap .menu-list a.last-a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}

.solutionWrap .container .sol-menuWrap .menu-list a.last-a span {
  display: block;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.solutionWrap .container .sol-menuWrap .menu-list a.last-a button.btn-pakage {
  position: relative;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.05em;
  padding: 0 40px;
  border: none;
  border-radius: 6px;
  background-image: linear-gradient(to right, #3F80EA, #2AC9A4);
  text-align: left;
  z-index: 1;
}

.solutionWrap .container .sol-menuWrap .menu-list a.last-a button.btn-pakage::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #2C73E5;
  border-radius: 6px;
  z-index: -1;
  transition: all 0.3s ease;
}

.solutionWrap .container .sol-menuWrap .menu-list a.last-a button.btn-pakage:hover::before {
  width: 100%;
  left: 0;
}

.solutionWrap .container .sol-menuWrap .menu-list a.last-a button.btn-pakage:after {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow.svg) no-repeat;
}

/* sol-typeWrap */

.sol-typeWrap {
  padding-top: 190px;
  padding-bottom: 190px;
}

.sol-typeWrap .container .detail-Wrap {
  position: relative;
}

.sol-typeWrap .container .detail-Wrap.lType:before {
  position: absolute;
  top: -66px;
  right: -6px;
  content: "";
  display: block;
  width: 380px;
  height: 107px;
  background: url(../img/atscrm_bg.png);
}

.sol-typeWrap .container .detail-Wrap span.mark {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #3F80EA;
  border: 1px solid #BCD6FF;
  background: #F2F8FF;
  border-radius: 24px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0 22px;
}

.sol-typeWrap .container .detail-Wrap a.mark-tit {
  position: relative;
  display: block;
  width: fit-content;
  margin-top: 10px;
  font-size: 46px;
  font-weight: bold;
  color: #121212;
  padding-right: 50px;
}

.sol-typeWrap .container .detail-Wrap a.mark-tit::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background: #3F80EA url(../img/move_right_arrow_w.svg) no-repeat center;
  border-radius: 50%;
}

.sol-typeWrap .container .detail-Wrap a.mark-tit:hover::after {
  background: #3F80EA url(../img/add_icon.svg) no-repeat center;
}

.sol-typeWrap .container .detail-Wrap span.mark-Ctxt {
  display: inline-block;
  margin-top: 20px;
  font-size: 26px;
  font-weight: 600;
  color: #3F80EA;
}

.sol-typeWrap .container .detail-Wrap p.mark-Mtxt {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.sol-typeWrap .container .detail-Wrap p.link-tit {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 35px 0 16px;
}

.sol-typeWrap .container .detail-Wrap div.link-wrap {
  display: flex;
  align-items: center;
  max-width: 460px;
  height: 90px;
  background: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 6px;
  padding: 0 30px;
  margin-top: 8px;
}

.sol-typeWrap .container .detail-Wrap div.link-wrap .link-wrap-txt {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sol-typeWrap .container .detail-Wrap div.link-wrap .link-wrap-txt .link-tit {
  font-size: 20px;
  font-weight: 600;
  color: #121212;
}

.sol-typeWrap .container .detail-Wrap div.link-wrap .link-wrap-txt .link-txt {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  margin-top: 4px
}

.sol-typeWrap .container .detail-Wrap div.link-wrap a.detail-view {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  border: 1px solid #3E80EB;
  border-radius: 6px;
  color: #3F80EA;
  letter-spacing: -0.075em;
  font-weight: 500;
  padding: 0 25px;
}

.sol-typeWrap .container .detail-Wrap div.link-wrap a.detail-view:hover {
  background: #DEECFF; 
}

.sol-typeWrap .container .detail-Wrap div.link-wrap a.detail-view:hover span {
  margin-left: -45px;
  transition: all .8s;
}

.sol-typeWrap .container .detail-Wrap div.link-wrap a.detail-view:hover:after {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  background: url(../img/detailsview_right_blue.svg) no-repeat center;
}


.sol-typeWrap .container .detail-Wrap div.img-wrap {
  position: absolute;
  top: 61px;
  right: 19px;
  display: inline-block;
  z-index: -1;
}

.sol-typeWrap .container .detail-Wrap div.img-wrap img[alt="ATS&CRM"] {
  max-width: 580px;
}

.sol-typeWrap .container .detail-Wrap div.img-wrap img[alt="ongif"] {
  position: absolute;
  bottom: -132px;
  right: -96px;
  max-width: 390px;
  border-radius: 12px;
  margin: 15px 15px 0;
  border: 15px solid #F4F2F6;
}

.sol-typeWrap .container .detail-Wrap.rType {
  position: relative;
  margin-top: 270px;
  padding-left: 800px;
}

.sol-typeWrap .container .detail-Wrap.rType::before {
  position: absolute;
  top: -87px;
  left: -6px;
  content: "";
  display: block;
  width: 280px;
  height: 107px;
  background: url(../img/assess_bg.png);
}

.sol-typeWrap .container .detail-Wrap.rType span.mark {
  color: #2AC9A4;
  border: 1px solid #B4EBDE;
  background: #E9FCF8;
}

.sol-typeWrap .container .detail-Wrap.rType a.mark-tit::after {
  background-color: #2AC9A4;
} 

.sol-typeWrap .container .detail-Wrap.rType span.mark-Ctxt {
  color: #2AC9A4;
}

.sol-typeWrap .container .detail-Wrap.rType div.link-wrap a.detail-view {
  border: 1px solid #2AC9A4;
  color: #2AC9A4;
}

.sol-typeWrap .container .detail-Wrap.rType div.link-wrap a.detail-view:hover {
  background: #E0F6F1
}

.sol-typeWrap .container .detail-Wrap.rType div.link-wrap a.detail-view:hover::after {
  background: url(../img/detailsview_right_green.svg);
}



.sol-typeWrap .container .detail-Wrap.rType span.img-wrap {
  position: absolute;
  top: 40px;
  left: 0;
  display: inline-block;
  border-radius: 12px;
  border: 20px solid #79DCC5;
  background-color: #79DCC5;
}

.sol-typeWrap .container .detail-Wrap.rType span.img-wrap img[alt="bggif"] {
  max-width: 560px;
  border-radius: 10px;
}

.sol-typeWrap .container .detail-Wrap.rType img[alt="onimg"] {
  position: absolute;
  top: 323px;
  left: 265px;
  max-width: 432px;
}

/* l-1 */

.sol-typeWrap .container .detail-Wrap.lType.l-1 {
  margin-top: 260px;
}

.sol-typeWrap .container .detail-Wrap.lType.l-1:before {
  width: 341px;
  height: 107px;
  background: url(../img/interview_bg.png);
}

.sol-typeWrap .container .detail-Wrap.lType.l-1 div.img-wrap {
  margin-right: -20px;
}

.sol-typeWrap .container .detail-Wrap.lType.l-1 div.img-wrap img[alt="interview"] {
  max-width: 600px;
}

/* r-1 */

.sol-typeWrap .container .detail-Wrap.rType.r-1 {
  position: relative;
  margin-top: 190px;
}

.sol-typeWrap .container .detail-Wrap.rType.r-1::before {
  content: "";
  display: block;
  width: 270px;
  height: 107px;
  background: url(../img/proctor_bg.png);
}

.sol-typeWrap .container .detail-Wrap.rType.r-1 .img-wrap {
  position: absolute;
  top: 40px;
  left: 0;
}

.sol-typeWrap .container .detail-Wrap.rType.r-1 .img-wrap img[alt="Proctor"] {
  max-width: 679px;
}

/* l-2 */

.sol-typeWrap .container .detail-Wrap.lType.l-2 {
  position: relative;
  margin-top: 240px;
}

.sol-typeWrap .container .detail-Wrap.lType.l-2::before {
  content: "";
  display: block;
  width: 607px;
  height: 107px;
  background: url(../img/recheck_bg.png);
}

.sol-typeWrap .container .detail-Wrap.lType.l-2 div.img-wrap {
  position: absolute;
  top: 60px;
  right: -12px;
}

.sol-typeWrap .container .detail-Wrap.lType.l-2 div.img-wrap img {
  max-width: 607px;
}

/* companyWrap */

.companyWrap {
  padding: 110px 0;
  background: #F3FAFF;
}

.companyWrap .container {
  position: relative;
}

.companyWrap .container p.company-tit {
  font-size: 50px;
  font-weight: bold;
  color: #121212;
  text-align: center;
}

.companyWrap .container p.company-txt {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.companyWrap .container p.company-txt span {
  color: #3F80EA;
}

.companyWrap .container .companySwiper {
  margin-top: 50px;
  overflow: hidden;
}

.companyWrap .container .companySwiper .swiper-wrapper {
  display: flex;
}

.companyWrap .container .companySwiper .swiper-wrapper .swiper-slide ul {
  width: 1260px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.companyWrap .container .companySwiper .swiper-wrapper .swiper-slide ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 100px;
  border: 1px solid #DEECFF;
  background: #fff;
  border-radius: 6px;
}

.companyWrap .container .companySwiper .swiper-button-prev:after,
.companyWrap .container .companySwiper .swiper-button-next:after{
  content: "";
}

.companyWrap .container .companySwiper .swiper-button-prev,
.companyWrap .container .companySwiper .swiper-button-next {
  top: 63%;
  width: 42px;
  height: 42px;
  background: url(../img/swiper_btn_next.png);
}

.companyWrap .container .companySwiper .swiper-button-prev:hover,
.companyWrap .container .companySwiper .swiper-button-next:hover {
  background: url(../img/swiper_btn_next_hover.png);
} 

.companyWrap .container .companySwiper .swiper-button-prev {
  transform: rotate(180deg);
  left: -60px;
}

.companyWrap .container .companySwiper .swiper-button-next {
  right: -60px;
}

/* worksWrap */

.worksWrap {
  padding: 110px 0;
  background: url(../img/section4_bg.svg) no-repeat calc(50% - 80px) -35px;
}

.worksWrap .container {
  text-align: center;
}

.worksWrap .container p.works-tit {
  font-size: 40px;
  font-weight: 600;
  color: #121212;
  line-height: 56px;
}

.worksWrap .container p.works-tit span {
  color: #3F80EA;
}


.worksWrap .container p.works-txt {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-align: center;
  line-height: 56px;
  margin-top: 20px;
}

.worksWrap .container div.exprnInquiry {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.worksWrap .container div.exprnInquiry button {
  width: 260px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.075em;
  border: 0;
  transition: all 1s;
}

.worksWrap .container div.exprnInquiry button.exprn {
  position: relative;
  border: 1px solid #3E80EB;
  background: #fff;
  color: #3E80EB;
}

.worksWrap .container div.exprnInquiry button.exprn:hover {
  background: #DEECFF;
}

.worksWrap .container div.exprnInquiry button.exprn:hover::after {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow_blue.svg) no-repeat center;
}

.worksWrap .container div.exprnInquiry button.inquiry {
  position: relative;
  border: 1px solid #3F80EA;
  background: #3F80EA;
  color: #fff;
}

.worksWrap .container div.exprnInquiry button.inquiry:hover::after {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow.svg) no-repeat center;
}

.worksWrap .container div.exprnInquiry button.inquiry:hover {
  border: 1px solid #1E63D2;
  background: #1E63D2;
}

/* footer */

.footer {
  padding: 12px 0 50px;
  border-top: 1px solid #f0f0f0;
}

.footer .container .footerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 14px;
}

.footer .container .footerTop .footerTop-a a {
  position: relative;
  color: #121212;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  padding-right: 10px;
  margin-right: 6px;
}

.footer .container .footerTop .footerTop-a a:nth-of-type(1) {
  padding-left: 0;
}

.footer .container .footerTop .footerTop-a a::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 1px;
  height: 6px;
  background: #a5a5a5;
}

.footer .container .footerTop .footerTop-a a:nth-of-type(4):after {
  display: none;
}

.footer .container .footerTop .footerTop-logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

.footer .container .footerTop .footerTop-logo a {
  width: 30px;
  height: 30px;
}

.footer .container .footerTop .footerTop-logo a:nth-of-type(2) {
  margin-right: 3px;
}

.footer .container .footerTop .footerTop-logo a img {
  width: 30px;
  height: 30px;
}

.footer .container address {
  margin-top: 21px;
  font-weight: 500;
  font-size: 12px;
  color: #838383;
  line-height: 16px;
}

.footer .container address div span {
  position: relative;
  display: inline-block;
  padding: 0 5px;
}

.footer .container address div span::after {
  position: absolute;
  top: 2px;
  right: -1.5px;
  /* transform: translateY(-50%); */
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  background: #a5a5a5;
}

.footer .container address > div > span:nth-of-type(1) {
  padding-left: 0;
}

.footer .container address > div > span:nth-of-type(3)::after {
  display: none;
}

.footer .container address div.address2 {
  margin-top: 4px;
}

.footer .container address p {
  margin-top: 9px;
}

/* fixed-wrap */

.fixed-wrap .container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fixed-wrap .container button {
  width: 52px;
  height: 52px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 16%);
}

.fixed-wrap .container button.fixed-top {
  background: #3F80EA url(../img/ask_fixed_i.svg) no-repeat center;
}

.fixed-wrap .container button.fixed-top:hover {
  background: #3F80EA url(../img/ask_fixed_i_hover.svg) no-repeat center;
}

.fixed-wrap .container button.fixed-bottom {
  background: #fff url(../img/up_fixed_i.svg) no-repeat center;
}

.fixed-wrap .container button.fixed-bottom:hover {
  background: #fff url(../img/up_fixed_i_hover.svg) no-repeat center;
}




















