@charset "utf-8";



/* 컨테이너 */

.container {
  max-width: 1260px;
  margin: 0 auto;
}

/* 모바일 사이트 메뉴 */

.sitemap {
  position: fixed;
  top: 0;
  left: -280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 40px 20px 40px;
  transition: all 0.5s ease;
}

.sitemap.active {
  left: 0;
  z-index: 1000;
  background-color: #fff;
}

.sitemap.active::after {
  display: block;
}

.sitemap .close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 0;
  border: 0;
  background: transparent;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
}

.sitemap .close-btn span::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #121212;
}

.sitemap .close-btn span::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #121212;
}

.sitemap .main-logo {
  width: 130px;
  height: 13px;
  background: url(../img/rasp_logo.svg) no-repeat center / 100%;
  margin-bottom: 12px;
}

.sitemap ul li {
  position: relative;
  padding: 16px 0 15px;
  border-bottom: 1px solid #E1E1E1;
}

.sitemap ul li a {
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #121212;
  text-decoration: none;
  font-weight: 500;
}

.sitemap ul li a.intro::before {
  position: absolute;
  top: -2px;
  left: 71px;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2AC9A4;
}

.sitemap ul li a.intro::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 13px;
  height: 8px;
  background: url(../img/drop_cont_m.svg) no-repeat;
}

.sitemap ul li a.intro.active::after {
  background: url(../img/drop_cont_m_on.svg) no-repeat;
}

.sitemap ul .intro-li .intro-menu {
  position: relative;
  padding-top: 16px;
  margin-top: 16px;
  display: none;
}

.sitemap ul .intro-li .intro-menu::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #E1E1E1;
}

.sitemap ul .intro-li .intro-menu.active {
  display: block;
}

.sitemap ul .intro-li .intro-menu a {
  display: block;
  margin-top: 18px;
  padding-left: 10px;
}

.sitemap ul .intro-li .intro-menu a:first-child {
  margin-top: 0;
}

.sitemap ul .intro-li .intro-menu span {
  display: block;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.sitemap ul .intro-li .intro-menu .t-text {
  margin-top: 3px;
}

.sitemap ul .intro-li .intro-menu .t-blue {
  color: #3E80EB;
  font-size: 15px;
  font-weight: 500;
}

.sitemap ul .intro-li .intro-menu .t-blue.assess em {
  display: inline-block;
  background: #2AC9A4;
  border-radius: 100px;
  color: #fff;
  padding: 1px 7px 1px 7px;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  margin-left: 3px;
  transform: translateY(-2px);
}

.sitemap ul li a.t-blue {
  color: #3E80EB;
}

.sitemap .btn-wrap button {
  display: block;
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.sitemap .btn-wrap .requireBtn {
  background-image: linear-gradient(to right, #3F80EA, #2AC9A4), linear-gradient(to right, #3F80EA, #2AC9A4);
  color: #fff;
}

.sitemap .btn-wrap .requireBtn:hover {
  background: #2C73E5;
  border-color: #2C73E5;
}

.sitemap .btn-wrap .logBtn {
  margin-top: 10px;
  border: 1px solid #3F80EA;
  color: #3F80EA;
}

.sitemap .btn-wrap .logBtn:hover {
  background: #DEECFF;
}

/* header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header .container button.btn-bar {
  position: relative;
  width: 16px;
  height: 18px;
  background: transparent;
  border: 0;
  padding: 0;
  display: none;
}

.header .container button.btn-bar span {
  display: block;
  width: 100%;
  height: 1px;
  background: #121212;
}

.header .container button.btn-bar span::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #121212;
  
}

.header .container button.btn-bar span::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #121212;
}


.header .container .main-logo {
  background: url(../img/rasp_logo.svg) no-repeat 0 0 / 100%;
  width: 160px;
  height: 17px;
}

.header .container .main-logo a {
  width: 100%;
  height: 100%;
}

.header .container ul {
  display: flex;
  align-items: center;
}

.header .container ul li a {
  color: #121212;
  letter-spacing: -0.05em;
  font-size: 16px;
  font-weight: 500;
  line-height: 45px;
  text-decoration: none;
}

.header .container ul li a.intro {
  position: relative;
  padding-right: 24px;
}

.header .container ul li a.intro::before {
  position: absolute;
  top: 7px;
  right: 15px;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2AC9A4;
  border-radius: 50%;
}

.header .container ul li a.intro::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 12px;
  height: 7px;
  background: url(../img/menu_down_btn.png) no-repeat center;
}

.header .container ul li a.sub-menu {
  width: 123px;
  text-align: center;
}

.header .container ul li a.sub-menu:hover {
  font-weight: bold;
}

.header .container ul li a.sub-menu.t-blue {
  color: #3F80EA;
}

.header .container ul li a.sub-menu.guide {
  position: relative;
  margin-right: -2px;
}

.header .container ul li a.sub-menu.guide::after {
  position: absolute;
  top: 11px;
  right: 0;
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background: #E1E1E1;
}

.header .container ul li a.btn {
  border: 1px solid #3F80EA;
  background: #fff;
  padding: 0 15px;
  height: 35px;
  line-height: 33px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #3F80EA;
}

.header .container ul li a.btn.requireBtn {
  color: #fff;
  background-image: linear-gradient(to right, #3F80EA, #2AC9A4), linear-gradient(to right, #3F80EA, #2AC9A4);
  background-origin: border-box;
  font-weight: 700;
  border: 1px solid transparent;
  margin: 0 15px 0 7.5px;
}

.header .container ul li a.btn.requireBtn:hover {
  background: #2C73E5;
}

.header .container ul li a.btn.logBtn:hover {
  background: #DEECFF;
}

.header .container ul li:nth-of-type(1) {
  position: relative;
}

.header .container ul li:first-child:hover .intro-menu {
  display: block;
}

.header .container ul li .intro-menu {
  position: absolute;
  top: 45px;
  left: -55px;
  width: 198px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #CBDFFF;
  padding: 5px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, .2);
  border: 1px solid #CBDFFF;
  display: none;
}

.header .container ul li .intro-menu a {
  display: flex;
  flex-direction: column;
  padding: 8px 10px 6px 10px;
}

.header .container ul li .intro-menu a:hover {
  background: #DEECFF;
  border-radius: 6px;
}

.header .container ul li .intro-menu a span {
  line-height: 22px;
}

.header .container ul li .intro-menu a .t-blue {
  font-size: 15px;
  font-weight: 400;
  color: #3E80EB;
}

.header .container ul li .intro-menu a .t-blue.assess em {
  display: inline-block;
  background: #2AC9A4;
  border-radius: 100px;
  color: #fff;
  padding: 1px 7px 1px 7px;
  font-size: 11px;
  font-weight: 500;
  margin-left: 3px;
  line-height: 14px;
  transform: translateY(-2px);
}

.header .container ul li .intro-menu a .t-text {
  font-size: 14px;
  font-weight: 500;
  color: #333; 
}

/* sol-wrap */

.sol-wrap {
  position: relative;
  padding-top: 96px;
  padding-bottom: 110px;
  background: linear-gradient(#fff, #DEECFF);
  z-index: 0;
}

.sol-wrap .container .sol-top {
  text-align: center;
}

.sol-wrap .container .sol-top .top-tit {
  font-size: 60px;
  font-weight: bold;
  color: #121212;
  line-height: 76px;
  padding-top: 75px;
}

.sol-wrap .container .sol-top .top-tit span {
  color: #3F80EA;
}

.sol-wrap .container .sol-top .top-txt {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #333333;
  margin-top: 20px;
}

.sol-wrap .container .sol-top .package-wrap {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.sol-wrap .container .sol-top .btn-package {
  position: relative;
  width: 532px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.05em;
  padding: 0 40px;
  border: none;
  border-radius: 6px;
  background-image: linear-gradient(to right, #3F80EA, #2AC9A4);
  text-align: left;
  z-index: 1;
  transition: all 1.3s ease;
  box-sizing: border-box;
  margin-right: -220px;
  opacity: 0;
}

.sol-wrap .container .sol-top .btn-package.active {
  margin-right: 0;
  opacity: 1;
}


.sol-wrap .container .sol-top .btn-package::before {
  position: absolute;
  top: 50%;
  right: 7.518%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow.svg) no-repeat;
}

.sol-wrap .container .sol-top .btn-package::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 0;
  height: 60px;
  background: #2C73E5;
  border-radius: 6px;
  z-index: -1;
  transition: all 0.3s ease;
} 

.sol-wrap .container .sol-top .btn-package:hover::after {
  left: 0;
  width: 100%;
}

.sol-wrap .container .sol-top .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.sol-wrap .container .sol-top .btn-box button {
  position: relative;
  border: 0;
  width: 260px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.075em;
  z-index: 1;
}

.sol-wrap .container .sol-top .btn-box button::before {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  content: "";
  display: none;
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow.svg) no-repeat;
}

.sol-wrap .container .sol-top .btn-box button:hover::before {
  display: block;
}

.sol-wrap .container .sol-top .btn-box button:hover span {
  margin-left: -115px;
}

.sol-wrap .container .sol-top .btn-box button span {
  transition: all 1s;
}

.sol-wrap .container .sol-top .btn-box button.btn-freeExper {
  border: 1px solid #3E80EB;
  background: #fff;
  color: #3E80EB;
  transition: all 1s;
  opacity: 0;
}

.sol-wrap .container .sol-top .btn-box button.btn-freeExper.active {
  opacity: 1;
}

.sol-wrap .container .sol-top .btn-box button.btn-freeExper::before {
  background: url(../img/solution_btn_arrow_blue.svg) no-repeat;
}

.sol-wrap .container .sol-top .btn-box button.btn-freeExper:hover {
  background: #DEECFF;
}

.sol-wrap .container .sol-top .btn-box button.btn-inquiry {
  border: 1px solid #3F80EA;
  background: #3F80EA;
  color: #fff;
  margin-left: 12px;
  transition: all 1s;
  margin-right: 220px;
  opacity: 0;
}

.sol-wrap .container .sol-top .btn-box button.btn-inquiry.active {
  margin-right: 0;
  opacity: 1;
}

.sol-wrap .container .sol-top .btn-box button.btn-inquiry:hover {
  border: 1px solid #1E63D2;
  background: #1E63D2;
}

.sol-wrap .container .sol-top .incruit-bg {
  position: fixed;
  top: 68%;
  left: 0;
  width: 100%;
  height: 135px;
  background: url(../img/bg_incruit_line.svg) no-repeat;
  opacity: 1;
}


.sol-wrap .container .sol-top .incruit-bg.acive {
  opacity: 0;
}


.sol-wrap .container .sol-bot {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  z-index: 1;
}

.sol-wrap .container .sol-bot .bot-tit {
  font-size: 46px;
  font-weight: bold;
  line-height: 61px;
  color: #121212;
}

.sol-wrap .container .sol-bot .bot-tit span {
  color: #3F80EA;
}

.sol-wrap .container .sol-bot .bot-txt {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding-left: 22px;
  margin-top: 20px;
}

.sol-wrap .container .sol-bot .bot-txt::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  display: block;
  width: 15px;
  height: 16px;
  background: url(../img/solution_arrow_down.svg) no-repeat;
}

.sol-wrap .container .sol-bot ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
  margin-top: 30px;
  animation: fadeTop 1.3s ease forwards;
}

@keyframes fadeTop {
  0% { margin-top: 180px; opacity: 0;}
  100% { margin-top: 30px; opacity: 1;}
}

.sol-wrap .container .sol-bot ul li {
  height: 220px;
  border: 1px solid #C9DEFF;
  border-width: 2px;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 1px rgba(63, 128, 234, .2);
  width: 336px;
  background: #F8FBFF url(../img/solTab_bg_ats.svg) no-repeat 90% 79%;
}

.sol-wrap .container .sol-bot ul li:nth-child(2) {
  background: #F8FBFF url(../img/solTab_bg_ass.svg) no-repeat 90% 79%;
} 

.sol-wrap .container .sol-bot ul li:nth-child(3) {
  background: #F8FBFF url(../img/solTab_bg_view.svg) no-repeat 90% 79%;
} 

.sol-wrap .container .sol-bot ul li:nth-child(4) {
  background: #F8FBFF url(../img/solTab_bg_proct.svg) no-repeat 90% 79%;
} 

.sol-wrap .container .sol-bot ul li:nth-child(5) {
  background: #F8FBFF url(../img/solTab_bg_check.svg) no-repeat 90% 79%;
} 

.sol-wrap .container .sol-bot ul li:last-child {
  background: none;
  border: 0;
  box-shadow: none;
}

.sol-wrap .container .sol-bot ul li a {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 28px;
}

.sol-wrap .container .sol-bot ul li:hover {
  border: 2px solid #3F80EA;
}

.sol-wrap .container .sol-bot ul li:hover .btn-add {
  background: #2C73E5 url(../img/add_icon.svg) no-repeat center;
}

.sol-wrap .container .sol-bot ul li:last-child:hover {
  border: none;
}

.sol-wrap .container .sol-bot ul li a {
  text-decoration: none;
}

.sol-wrap .container .sol-bot ul li a .t-blue {
  font-size: 24px;
  font-weight: 600;
  color: #3F80EA;
}  

.sol-wrap .container .sol-bot ul li a .t-text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-top: 8px;
}

.sol-wrap .container .sol-bot ul li a .btn-add {
  position: absolute;
  bottom: 30px;
  left: 28px;
  width: 36px;
  height: 36px;
  background: #F2F8FF url(../img/move_right_arrow.svg) no-repeat center; 
  border: 1px solid #3F80EA;
  border-radius: 25px;
}

.sol-wrap .container .sol-bot ul li:last-child {
  position: relative;
}

.sol-wrap .container .sol-bot ul li:last-child .suggest {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.sol-wrap .container .sol-bot ul li:last-child .suggest span {
  display: block;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.sol-wrap .container .sol-bot ul li:last-child .suggest button {
  position: relative;
  width: 100%;
  height: 60px;
  text-align: left;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.05em;
  padding: 0 40px;
  border-radius: 6px;
  border: none;
  background-image: linear-gradient(to right, #3F80EA, #2AC9A4);
  z-index: 1;
}

.sol-wrap .container .sol-bot ul li:last-child .suggest button::before {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow.svg) no-repeat;
}

.sol-wrap .container .sol-bot ul li:last-child .suggest button::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #2C73E5;
  border-radius: 6px;
  z-index: -1;
  transition: all 0.3s ease;
}

.sol-wrap .container .sol-bot ul li:last-child .suggest button:hover::after {
  left: 0;
  width: 100%;
}

/* sol-detail-wrap */

.sol-detail-wrap {
  position: relative;
  padding-top: 190px;
  padding-bottom: 190px;
  background: #fff;
}

.sol-detail-wrap .container {
  max-width: 1384px;
}

.sol-detail-wrap .container .details {
  position: relative;
  padding-left: 62px;
  margin-bottom: 230px;
}

.sol-detail-wrap .container .details::after {
  position: absolute;
  top: -64px;
  right: 56px;
  content: "";
  display: block;
  width: 380px;
  height: 107px;
  background: url(../img/atscrm_bg.png);
}

.sol-detail-wrap .container .details .mark {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #3F80EA;
  border: 1px solid #BCD6FF;
  background: #F2F8FF;
  border-radius: 24px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0 22px;
}

.sol-detail-wrap .container .details .title {
  position: relative;
  display: block;
  position: relative;
  margin-top: 10px;
  font-size: 46px;
  font-weight: bold;
  color: #121212;
  padding-right: 50px;
  text-decoration: none;
  width: fit-content;
}

.sol-detail-wrap .container .details .title::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background: #3F80EA url(../img/move_right_arrow_w.svg) no-repeat center;
  border-radius: 50%;
}

.sol-detail-wrap .container .details .title:hover::after {
  background: #3F80EA url(../img/add_icon.svg) no-repeat center;
}

.sol-detail-wrap .container .details .t-blue {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 600;
  color: #3F80EA;
}

.sol-detail-wrap .container .details .t-text {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.sol-detail-wrap .container .details .link {
  display: block;
  margin-top: 35px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px
}

.sol-detail-wrap .container .details .link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 460px;
  height: 90px;
  background: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 6px;
  padding: 0 30px;
  box-sizing: border-box
}

.sol-detail-wrap .container .details .link-wrap {
  margin-top: 8px;
}

.sol-detail-wrap .container .details .link-wrap .text-wrap {
  display: flex;
  flex-direction: column;
}

.sol-detail-wrap .container .details .link-wrap .text-wrap .text1 {
  font-size: 20px;
  font-weight: 600;
  color: #121212;
}

.sol-detail-wrap .container .details .link-wrap .text-wrap .text2 {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  margin-top: 4px
}

.sol-detail-wrap .container .details .link-wrap button {
  position: relative;
  width: 160px;
  height: 45px;
  background: #fff;
  border: 1px solid #3E80EB;
  border-radius: 6px;
  color: #3F80EA;
  letter-spacing: -0.075em;
  font-weight: 500;
  padding: 0 25px;
}

.sol-detail-wrap .container .details .link-wrap button::after {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  background: url(../img/detailsview_right_blue.svg);
  display: none;
}

.sol-detail-wrap .container .details .link-wrap button:hover {
  background: #DEECFF;
}

.sol-detail-wrap .container .details .link-wrap button:hover span {
  margin-left: -45px;
  transition: all 0.8s;
}

.sol-detail-wrap .container .details .link-wrap button:hover::after {
  display: block;
}

.sol-detail-wrap .container .details .img-wrap {
  padding-left: 50%;
}

.sol-detail-wrap .container .details .img-wrap img {
  max-width: 580px;
  width: 100%;
}

.sol-detail-wrap .container .details .img-wrap img[alt="ATS & CRM"] {
  position: absolute;
  top: 62px;
  right: 82px;
}

.sol-detail-wrap .container .details .img-wrap img[alt="ongif"] {
  max-width: 390px;
  position: absolute;
  bottom: -58px;
  right: 0;
  border-radius: 12px;
  border: 15px solid #F4F2F6;
  border-bottom: 0;
}

.sol-detail-wrap .container .details.right {
  padding-left: 862px;
}

.sol-detail-wrap .container .details.right::after {
  position: absolute;
  right: auto;
  top: -80px;
  left: 56px;
  content: "";
  display: block;
  width: 280px;
  height: 107px;
  background: url(../img/assess_bg.png) no-repeat;
}

.sol-detail-wrap .container .details.right .mark {
  font-size: 18px;
  font-weight: 600;
  color: #2AC9A4;
  border: 1px solid #B4EBDE;
  background: #E9FCF8;
  border-radius: 24px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0 22px;
}

.sol-detail-wrap .container .details.right .title::after {
  background: #2AC9A4 url(../img/move_right_arrow_w.svg) no-repeat center;
}

.sol-detail-wrap .container .details.right .title:hover::after {
  background: #2AC9A4 url(../img/add_icon.svg) no-repeat center;
}

.sol-detail-wrap .container .details.right .t-blue {
  color: #2AC9A4;
}

.sol-detail-wrap .container .details.right .img-wrap {
  padding: 0;
}

.sol-detail-wrap .container .details.right .img-wrap img {
  max-width: 600px;
}

.sol-detail-wrap .container .details.right .img-wrap img[alt="bggif"] {
  position: absolute;
  top: 48px;
  left: 60px;
  width: 600px;
  border-radius: 12px;
  border: 20px solid #79DCC5
}

.sol-detail-wrap .container .details.right .img-wrap img[alt="onimg"] {
  position: absolute;
  left: 320px;
  bottom: -120px;
  max-width: 432px;
}

.sol-detail-wrap .container .details.right .link-wrap button {
  border: 1px solid #2AC9A4;
  color: #2AC9A4;
}

.sol-detail-wrap .container .details.right .link-wrap button:hover {
  background: #E0F6F1;
}

.sol-detail-wrap .container .details.right .link-wrap button:hover::after {
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  background: url(../img/detailsview_right_green.svg) no-repeat;
}

.sol-detail-wrap .container .details.left2::after {
  content: "";
  display: block;
  width: 341px;
  height: 107px;
  background: url(../img/interview_bg.png);
}

.sol-detail-wrap .container .details.left2 .img-wrap img {
  position: absolute;
  top: 68px;
  right: 68px;
  max-width: 600px;
}

.sol-detail-wrap .container .details.right.r2::after {
  content: "";
  display: block;
  width: 270px;
  height: 107px;
  background: url(../img/proctor_bg.png);
}

.sol-detail-wrap .container .details.right.r2 .img-wrap img {
  position: absolute;
  top: 40px;
  left: 60px;
  max-width: 679px;
} 

.sol-detail-wrap .container .details.left2.l2 {
  margin-bottom: 0;
}

.sol-detail-wrap .container .details.left2.l2::after {
  content: "";
  display: block;
  width: 607px;
  height: 107px;
  background: url(../img/recheck_bg.png);
}

/* to-incruit */

.to-incruit {
  position: relative;
  background: #F3FAFF;
  padding: 110px 0;
}

.to-incruit .container {
  position: relative;
  max-width: 1406px;
}

.to-incruit .container .t-tit {
  font-size: 50px;
  font-weight: bold;
  color: #121212;
  text-align: center;
}

.to-incruit .container .t-txt {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
} 

.to-incruit .container .t-txt .t-blue {
  color: #3F80EA;
}

.to-incruit .container .workSwiper {
  overflow: hidden;
}

.to-incruit .container .workSwiper .swiper-wrapper ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.to-incruit .container .workSwiper .swiper-wrapper ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DEECFF;
  background: #fff;
  width: 240px;
  height: 100px;
  border-radius: 6px;
  overflow: hidden;
}


.swiper-button-next:after, .swiper-button-prev:after {
  content: "";
}

.to-incruit .container .workSwiper .swiper-button-prev,
.to-incruit .container .workSwiper .swiper-button-next {
  top: 63%;
  width: 42px;
  height: 42px;
  background: url(../img/swiper_btn_next.png) no-repeat center;
}

.to-incruit .container .workSwiper .swiper-button-prev {
  transform: rotate(180deg);
}

/* exper-wrap */

.exper-wrap {
  position: relative;
  padding: 110px 0;
  background: #fff url(../img/section4_bg.svg) no-repeat calc(50% - 80px) -35px;
}

.exper-wrap .container .t-tit {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #121212;
  line-height: 56px;
}

.exper-wrap .container .t-tit .t-blue {
  color: #3F80EA;
}

.exper-wrap .container .t-txt {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  line-height: 56px;
  margin-top: 20px
}

.exper-wrap .container .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.exper-wrap .container .btn-box button {
  width: 100%;
  max-width: 260px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.075em;
  transition: all 1s;
}

.exper-wrap .container .btn-box button.btn-freeExper {
  position: relative;
  border: 1px solid #3E80EB;
  background: #fff;
  color: #3E80EB;
}

.exper-wrap .container .btn-box button.btn-freeExper::after {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  content: "";
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow_blue.svg) no-repeat;
  display: none;
}

.exper-wrap .container .btn-box button.btn-freeExper:hover {
  background: #DEECFF;
}

.exper-wrap .container .btn-box button.btn-freeExper:hover::after {
  display: block;
}

.exper-wrap .container .btn-box button.btn-inquiry {
  position: relative;
  border: 1px solid #3F80EA;
  background: #3F80EA;
  color: #fff;
  margin-left: 12px
}

.exper-wrap .container .btn-box button.btn-inquiry::after {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  content: "";
  width: 10px;
  height: 15px;
  background: url(../img/solution_btn_arrow.svg) no-repeat;
  display: none;
}

.exper-wrap .container .btn-box button.btn-inquiry:hover {
  border: 1px solid #1E63D2;
  background: #1E63D2;
}

.exper-wrap .container .btn-box button.btn-inquiry:hover::after {
  display: block;
}

/* footer */

.footer {
  position: relative;
  padding: 17px 0 50px;
  border-top: 1px solid #f0f0f0;
  background: #fff;
}

.footer .container {
  position: relative;
}

.footer .container .footer-top .nav {
  padding-bottom: 18px;
  border-bottom: 1px solid #e1e1e1;
}

.footer .container .footer-top .nav a {
  position: relative;
  font-size: 13px;
  font-weight: 500;
  color: #121212;
  line-height: 14px;
  text-decoration: none;
  margin-right: 6px;
  padding-right: 10px;
}

.footer .container .footer-top .nav a::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 1px;
  height: 6px;
  background: #a5a5a5
}

.footer .container .footer-top .nav a:last-child:after {
  display: none;
}

.footer .container .sns-wrap {
  position: absolute;
  top: -4px;
  right: 0;
}

.footer .container .sns-wrap a {
  margin: 0 3px;
}

.footer .container .sns-wrap .facebook {
  background: url(../img/sns_facebook.svg) no-repeat center / cover;
  width: 30px;
  height: 30px;
}

.footer .container .sns-wrap .blog {
  background: url(../img/sns_blog.svg) no-repeat center / cover;
  width: 30px;
  height: 30px;
}

.footer .container address {
  margin-top: 21px;
}

.footer .container address div span {
  position: relative;
  margin-left: 4px;
  padding-left: 5px;
  font-weight: 500;
  font-size: 12px;
  color: #838383;
  line-height: 16px;
}

.footer .container address > div span:first-child {
  margin-left: 0;
  padding-left: 0;
}

.footer .container address div span::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  background: #a5a5a5;
}

.footer .container address div span:first-child:before {
  display: none;
}

.footer .container address p {
  padding-top: 8px;
  font-weight: 500;
  font-size: 12px;
  color: #838383;
}

/* ask-btn-wrap */

.ask-btn-wrap {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ask-btn-wrap button {
  border: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
}

.ask-btn-wrap button.ask-btn {
  background:  #3F80EA url(../img/ask_fixed_i.svg) no-repeat center;
}

.ask-btn-wrap button.ask-btn:hover {
  background:  #3F80EA url(../img/ask_fixed_i_hover.svg) no-repeat center;
}

.ask-btn-wrap button.top-btn  {
  background: #fff url(../img/up_fixed_i.svg) no-repeat center;
}

.ask-btn-wrap button.top-btn:hover  {
  background: #fff url(../img/up_fixed_i_hover.svg) no-repeat center;
}

/* background */

.background-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  z-index: 100;
  display: none;
}

.background-black.active {
  display: block;
}
